# Server
PORT=3001
NODE_ENV=development

# Database
DATABASE_URL="file:./dev.db"

# CORS
CORS_ORIGIN=http://localhost:5173

# Algorand Testnet (x402 Integration)
ALGORAND_NETWORK=Algorand Testnet
ALGORAND_ALGOD_SERVER=https://testnet-api.algonode.cloud
ALGORAND_ALGOD_PORT=443
ALGORAND_ALGOD_TOKEN=
ALGORAND_RECEIVER_ADDRESS=N6XXQ7W4KG7ANHYNIFQLRYOPAHIMZ2ZTYITCXUMHL7YFB2646NPCGB2U6Q
ALGORAND_USDC_ASSET_ID=10458941

